# Local Terraform directories
**/.terraform/*
.terraform.lock.hcl
.terraform\providers\registry.terraform.io\hashicorp\azurerm\4.56.0\windows-386\terraform-provider-azurerm_v4.56.0_x5.exe
.terraform

# State files (even though TFC manages them, never commit local copies)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Local-only override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config files (may contain tokens)
.terraformrc
terraform.rc

# Terragrunt (if you ever use it later)
**/.terragrunt-cache/*
terragrunt-debug.tfvars.json

# Backend config containing secrets
backend.tf
backend.tfvars
backend.tfvars.json
